@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

/* Initializers */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  
  
}

html, body{
  max-width: 100%;
  height: 100%;
  background-color: #000103;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Burger Menu */

.burger_container{
  position: absolute;
  right: 4vw;
  z-index: 1;
  width: 30vw;
  height: 7vh;
  overflow-y: hidden;
  margin-left: 40vw;
}
.burger_icon{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}


.line{
position: relative;
margin-top: 1vh;
width: 80%;
height: 5px;
background-color: #FFFFFA;
transition: all 0.3s ease;
}

.line.open{ 
  width: 25%
}
.line.open:nth-child(1) {
  transform: rotate(45deg) translateX(65%);
}

.line.open:nth-child(2) {
  opacity: 0;
}

.line.open:nth-child(3) {
  transform: rotate(-45deg) translateX(65%);
  
}

.burger_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  background-color: #000103;
  list-style: none;
  padding: 50px 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrar los enlaces verticalmente */
}

.burger_menu li {
  margin: 15px 0;
}

.burger_menu li a {
  font-family: 'Parkinsans';
  color: #FFFFFA;
  text-decoration: none;
  font-size: 18px;
}

.burger_menu li a:hover {
  color: #FF312E;
}

/* Heading and Navbar */
.barbara_dj{
  padding-top: 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barbara_dj h1{
  font-family: 'Parkinsans';
  color: #FF312E;
  font-size: 3rem;
  font-weight: bolder;
  word-spacing: 1vw;
  text-shadow: -2.5px 1px 1px #fffffa8e;
  margin: 0 auto;
  max-width: 100%;
}
.navbar{
  display: none;
  width: 80%;
  margin-left: 20%;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.navbar__list{
  font-family: 'Parkinsans';
  
}

.navbar__list > li{
  margin-right: 2vw;
}
.navbar__list > li > a{
  font-size: 1.25rem;
  color: #FFFFFA;
  font-weight: bolder;
}

a{
  text-decoration: none;
  color: #FFFFFA;
}

.video_container{
  width: 100%;
}

.video_container__video{
  height: 100%;
  width: 100%;
}

/* BIO */

.section{
  color: #FFFFFA;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bio_content{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

span{
  color: #FF312E;
}

p{
  color: #FFFFFA;
  font-family: 'Partisans';
  font-size: 0.75rem;
  flex: 1;
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 10vh;
}

#barbara_bio{
  flex: 1;
  border-radius: 5px;
  padding-top: 10vh;
  padding-left: 10%;
}

#emergency_control{
  flex: 1;
  border-radius: 5px;
  padding-top: 10vh;
  padding-left: 10%;
}

.releases_item{
  font-family: 'Partisans';
  font-size: 2rem;
}
.date_content{
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.date_item{
  padding-top: 1vh;
  display: flex;
  justify-content: space-between;
}
.date_content__location{
  width: 70%;
  font-family: 'Parkinsans';
  font-size: 1rem;
  color: #FFFFFA;
  
  padding-left: 10%;
  
}

.date_content__text{
  width: 20%;
  font-family: 'Parkinsans';
  font-size: 1rem;
  padding: 0 ;
  margin: 0 ;
}

.barbara_grid{
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  justify-items: center;
}

#barbara_grid__item{
  padding-top: 10vh;
  max-width: 50%;
}

.formulario{
  padding-top: 5vh;
  padding-left: 10vw;
  display: flex;
  flex-direction: column;
}

.formulario-item{
  padding-top: 10vh;
  display: block;
}

.formulario__title{
  font-size: 1rem;
  font-family: 'Parkinsans';
  color: #FFFFFA;
  flex: 1;
}

.formulario__links{
  font-size: 1rem;
  font-family: 'Parkinsans';
  color: #FFFFFA;
  flex: 1;
}

/* Media Queries */

@media (min-width: 768px) {
  .burger_container{
    display: none;
  }

  #bio{
    max-width: 100%;
    overflow: hidden;
  }

  #bio p{
  font-family: 'Parkinsans';
  font-size: 1.5rem;
  }
  #media{
    height: 100%;
  }

  .barbara_grid{
    height: 100%;
    overflow-y: hidden;
  }
  .navbar{
    display: flex;
    width: 100%;
    margin-left: 10%;
  }
  .navbar__list{
    width: 90%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    display: flex;
    justify-content: center;
  }

  .navbar__list > li{
    width: 16%;
    padding: 1vw;
    font-size: 1rem;
  }
  #navbar__dates{
    margin-left: 5%;
  }
  .video_container{
    width: 100%;
  }
  .video_container__video{
    width: 60%;
    margin-left: 20%;
  }
  .formulario{

    padding-bottom: 10%;

  }
}

@media (max-width: 395px) {
  
  .navbar{
    display: none;
  }

  .barbara_dj{
    width: 100%;
    display: flex;
  }

  .bio_content{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .bio_content > p{
    flex: 1;
    height: 50%;
    font-size: 1.75rem;
  }
  #barbara_bio{
    padding-right: 5%;
    flex: 2;
    height: 50%;
  }

  .barbara_dj h1{
    font-size: 2.25rem;
    white-space: nowrap;
    flex-shrink: 1;
    max-width: 100%;
  }
}